<br/><br/><br/>
<div fusioncharts width="800" height="500" type="bubble" dataformat="jsonurl" dataSource="data/bubbleChartOriginalData.json"></div><hr/>
<div fusioncharts width="800" height="500" type="scatter" dataformat="json" dataSource="{{data}}"></div><hr/>
<div fusioncharts width="700" height="500" type="mscombidy2d" dataformat="jsonurl" dataSource="data/combinedChart.json"></div><hr/>
<div fusioncharts width="700" height="500" type="radar" dataformat="jsonurl" dataSource="data/radarChart.json"></div><hr/>
<!--<div fusioncharts width="700" height="500" type="radar" dataformat="jsonurl" dataSource="data/radarChart.json"></div><hr/>-->
<div fusioncharts width="700" height="500" type="bar2d" dataformat="jsonurl" dataSource="data/barChart.json"></div><hr/>
<div fusioncharts width="700" height="500" type="column2d" dataformat="jsonurl" dataSource="data/columnChart.json"></div><hr/>
<div fusioncharts width="700" height="500" type="doughnut2d" dataformat="jsonurl" dataSource="data/doughnutChart.json"></div><hr/>
<div fusioncharts width="700" height="500" type="line" dataformat="jsonurl" dataSource="data/lineChart.json"></div><hr/>
<div fusioncharts width="700" height="500" type="area2d" dataformat="jsonurl" dataSource="data/areaChart.json"></div><hr/>
<div fusioncharts width="700" height="500" type="mscolumn2d" dataformat="jsonurl" dataSource="data/multicolumnChart.json"></div><hr/>
<div fusioncharts width="700" height="500" type="multilevelpie" dataformat="json" dataSource="{{mlp}}"></div><hr/>
<div fusioncharts width="700" height="450" type="pie2d" dataformat="jsonurl" dataSource="data/pieChart.json"></div><hr/>